{% extends 'layout.html.twig' %}

{% block styles %}
<style>
    .cart-container {
        height: 100%;
        margin-top: 100px;
        margin-bottom: 100px
    }
</style>
{% endblock %}

{% block body %}
<div class="container cart-container">
    {% include 'bearcrumb.html.twig' with {'title': 'Panier'} %}
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in products %}
                        <tr>
                            <td>{{ element.product.name }}</td>
                            <td>{{ element.product.price | format_currency('EUR', locale='fr') }} </td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ (element.quantity * element.product.price) | format_currency('EUR', locale='fr') }}</td>
                            <td>
                                <a href="{{ path('app_cart_add', {id: element.product.id, from: "cart"}) }}" class="btn btn-outline-success">+</a>
                                <a href="{{ path('app_cart_remove', {id: element.product.id, from: "cart"}) }}" class="btn btn-outline-warning">-</a>
                                <a href="{{ path('app_cart_delete', {id: element.product.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Votre panier est vide</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ total | format_currency('EUR', locale='fr') }} </td>
                        <td>
                            <a href="{{ path('app_cart_empty') }}" class="btn btn-danger">Vider</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            {% if app.user %}
            <div>
                <a href="{{ path('app_order_delivery') }}"><btn class="btn btn-outline-success">Valider le panier</btn></a>
            </div>
            {% endif %}
            {% if not app.user %}
            <div class="alert alert-warning text-center" role="alert">
                Vous devez être connecté pour valider votre panier !
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
