{% extends 'layout.html.twig' %}

{% block styles %}
<style>
    .cart-container {
        height: 100%;
        margin-top: 180px;
        margin-bottom: 100px
    }
</style>
{% endblock %}

{% block body %}
<div class="container cart-container">
    {% include 'bearcrumb.html.twig' with {'title': 'Panier'} %}
    <div class="row mt-5">
        <div class="col-12">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success auto-close">
                {{ message }}
            </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger auto-close">
                    {{ message }}
                </div>
            {% endfor %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in products %}
                        <tr>
                            <td>{{ element.product.name }}</td>
                            <td>{{ element.product.price | format_currency('EUR', locale='fr') }} </td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ (element.quantity * element.product.price) | format_currency('EUR', locale='fr') }}</td>
                            <td>
                                <a class="cart-link me-2" href="{{ path('app_cart_add', {id: element.product.id, routeName: routeName, routeParameters: "cart" }) }}">
                                    <i class="bi bi-plus-square cart-action"></i>
                                </a>
                                <a class="cart-link me-2" href="{{ path('app_cart_remove', {id: element.product.id, routeName: routeName, routeParameters: "cart" }) }}">
                                    <i class="bi bi-dash-square cart-action"></i>
                                </a>
                                <a class="cart-link" href="{{ path('app_cart_delete', {id: element.product.id}) }}">
                                    <i class="bi bi-trash cart-action"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Votre panier est vide</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ total | format_currency('EUR', locale='fr') }} </td>
                        <td>
                            <a href="{{ path('app_cart_empty') }}" class="btn btn-danger">Vider le panier</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            {% if app.user %}
            <div>
                <a href="{{ path('app_order_delivery') }}"><btn class="btn btn-outline-success">Valider le panier</btn></a>
            </div>
            {% endif %}
            {% if not app.user %}
            <div class="alert alert-warning text-center" role="alert">
                Vous devez être connecté pour valider votre panier !
                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>

    // permet de supprimer le message flash après 5 secondes
    const autoCloseElements = document.querySelectorAll(".auto-close");

    function fadeAndSlide(element) {
    const fadeDuration = 500;
    const slideDuration = 500;

    let opacity = 1;
    const fadeInterval = setInterval(function () {
        if (opacity > 0) {
        opacity -= 0.1;
        element.style.opacity = opacity;
        } else {
        clearInterval(fadeInterval);
        let height = element.offsetHeight;
        const slideInterval = setInterval(function () {
            if (height > 0) {
            height -= 10;
            element.style.height = height + "px";
            } else {
            clearInterval(slideInterval);
            element.parentNode.removeChild(element);
            }
        }, slideDuration / 10);
        }
    }, fadeDuration / 10);
    }

    setTimeout(function () {
    autoCloseElements.forEach(function (element) {
        fadeAndSlide(element);
    });
    }, 4000);

</script>
{% endblock %}