<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/jpg" href="{{ asset('uploads/goodeatscorner.png') }}" />
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .navbar-brand {
            font-size: 1.5rem;
        }
        .nav-link {
            font-size: 1.2rem;
        }
        .container-second-menu {
            background-color: #7FAD39;
            border-radius: 2px;
        }
        .menu-shelf-family {
            width: 100%;
            justify-content: space-around;
            background-color: #7FAD39;
            align-items: center;
            a {
                color: #fff;
                border-radius: 2px;
                font-size:1.4rem;
                font-weight: 800;
            }
        }
        .nav-link.dropdown-item {
             color: #000;
        }
    </style>
    {% block styles %}
    {% endblock %}
    <title>
        Good Eats Corner
    </title>
</head>
<body>
<header class="container fixed-top">
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Good Eats Corner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">

                </ul>
                <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
                    {% if app.user %}
                    <strong><li class="nav-link">Bonjour {{ app.user.firstname  }}</li></strong>
                    <a class="nav-link" href="{{ path('app_order_user') }}">Mes commandes</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link" href="{{ path('app_admin')}}"><i class="bi bi-person-lock"></i>Administration</a>
                    {% endif %}
                    {% if not app.user %}
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    {% endif %}
                    {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% endif %}
                    {% if not app.user %}
                    <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                    {% endif %}
                    {% if app.session.get("cart") %}
                    <a class="nav-link" href="{{ path('app_cart') }}">
                        <i class="bi bi-cart4 position-relative">
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ app.session.get("cart") | getTotal }}</span>
                        </i>
                    </a>
                    {% endif %}
                    {% if not app.session.get("cart") %}
                    <a class="nav-link" href="{{ path('app_cart') }}">
                        <i class="bi bi-cart4"></i>
                    </a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

      {{ render(controller('App\\Controller\\MenuController::index')) }}

</header>

{% block body %}
<div class="container" style="height:100%;margin-top: 100px;">
    <div>body app</div>
</div>
{% endblock %}

<footer class="container">
    <div class="text-center bg-body-tertiary">
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
            <!-- Facebook -->
            <a
                data-mdb-ripple-init
                class="btn btn-link btn-floating btn-lg text-body m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
                data-mdb-ripple-init
                class="btn btn-link btn-floating btn-lg text-body m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
                data-mdb-ripple-init
                class="btn btn-link btn-floating btn-lg text-body m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
                data-mdb-ripple-init
                class="btn btn-link btn-floating btn-lg text-body m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
                data-mdb-ripple-init
                class="btn btn-link btn-floating btn-lg text-body m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
                data-mdb-ripple-init
                class="btn btn-link btn-floating btn-lg text-body m-1"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                ><i class="fab fa-github"></i
            ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright:
            <a class="text-body" href="https://mdbootstrap.com/">Nicolas Brunet</a>
        </div>
    </div>
</footer>


{% block js %}
<script>

// ajout de la classe active au click pour le menu produits
let btnContainer = document.getElementById("menuSupportedContent");
let btns = btnContainer.getElementsByTagName("a");

for (let i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    let current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}

</script>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></scrip>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></>
</body>
</html>